{% extends "netflix/layout.html" %}
{% block title%}
{{ movie.title }}
{% endblock%}
{% block body %}

<video controls width="100%"  height="70%" src="{{ request.scheme }}://{{ request.get_host }}{{ movie.video.url }}"></video>

<div>
    <div style="margin:5px; display:flex;"></div>
    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
    <div>
        <h4><a href="">{{ movie.title }} ({{ movie.year|date:"Y" }})</a></h4>
        <p>Description: {{ movie.desc }}</p>
        <p>Category: {% for category in movie.categories.all %}{{ category }} {% endfor %}</p>
        <p>Country: {{ movie.country }}</p>
        <p>Rate: {{ movie.rate }}</p>
       
    </div>
</div>
{% if perms.netflix.edit_movie %}
<a href="{% url 'update' movie.id %}"><button class="btn btn-success">Edit</button></a>
{% endif %}
{% if perms.netflix.delete_movie %}
<a href="{% url 'delete' movie.id %}"><button class="btn btn-danger">Delete</button></a>
<a class="text-center" href="{% url 'logout' %}"><button class="btn btn-danger ">Log Out</button></a>
{% endif %}
{% endblock %}