{% extends "netflix/layout.html" %}
{% block title%}
Movies Dashboard
{% endblock%}
{% block body %}
<h1 class="text-center">Movies Dashboard</h1>
<div class='row' style="margin: 5%;">
    <a class="text-center" href="{% url 'create' %}"><button class="btn btn-success">Add New Movie</button></a>
</div>
<div class="row">
{% for movie in movies %}
<div class='col-lg-3'>
    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
    <div>
        <h4><a href="{% url 'display' movie.id %}">{{ movie.title }} ({{ movie.year|date:"Y" }})</a></h4>
        <p style="width: 200px;">{{ movie.desc }}</p>
        
    </div>
</div>
{% endfor %}
</div>
{% endblock %}